.promotionsContainer {
    margin-top: 40px;
    background: #edeff0;
    display: grid;
    gap: 30px;
    justify-content: center;
    padding: 0 5px;
}

@media (min-width: 768px) {
    .promotionsContainer {
        grid-template-columns: repeat(2, 45%);
    }
}
@media (min-width: 1200px) {
    .promotionsContainer {
        padding: 0 90px;
    }
}
