.promotionsCard {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    text-align: center;
    gap: 10px;
    transition: 0.2s;
    overflow: hidden;
}
.imgContainer {
    overflow: hidden;
}
.imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}
.promotionsCard > div > h3 {
    padding: 1px 50px;
    font-size: 1.7rem;
}
.promotionsCard > div > p {
    padding: 1px 20px;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 30px;
}
@media (min-width: 768px) {
    .promotionsCard {
        grid-template-rows: 27vw auto;
    }
    .imgContainer > img:hover {
        scale: 1.1;
        /* border-radius: 20px; */
    }
}
