.priceBuyContainer {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    /* padding: 10px 20px; */
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 2;
    background: var(--white);
    color: black;
    padding: 10px 15px;
}
.priceContainer {
    display: flex;
    flex-direction: column;
}
.priceContainer > p:nth-child(1) {
    font-size: 1.8rem;
    text-align: start;
}
.priceContainer > p:nth-child(2) {
    font-size: 1rem;
    text-align: start;
}
.buttonContainer {
    height: 43px;
    width: 100%;
}

@media (min-width: 561px) {
    .priceBuyContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .buttonContainer {
        width: 112px;
        display: flex;
        justify-self: end;
    }
}

@media (min-width: 768px) {
    .priceBuyContainer {
        z-index: 3000;
        grid-template-columns: 1fr;
        color: var(--white);
        justify-self: center;
        /* gap: 10px; */
        grid-column: 3;
        grid-row: 1;
        background: initial;
    }
    .priceContainer {
        grid-column: 1;
        justify-self: end;
        display: flex;
        align-items: flex-end;
    }
    .priceBuyContainer p:nth-child(1) {
        font-size: 1.1rem;
    }
    .priceContainer > p:nth-child(2) {
        font-size: 1rem;
        text-align: start;
    }
    .buttonContainer {
        grid-column: 2;
        justify-self: start;
        height: 31px;
    }
}
