.menu {
    position: absolute;
    top: 51px;
    right: -300px;
    transition: 0.3s;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2a2d2f;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 100;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
}
.menuIn {
    top: 51px;
    right: 0;
}

.menu > li {
    transition: 0.2s;
    padding: 10px;
    display: flex;
    width: 100%;
}
.menu > li:hover {
    background-color: #5d86a0;
}
@media (min-width: 768px) {
    .menu {
        position: static;
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        background: inherit;
        width: 100%;
    }
    .menu > li {
    }
}
