.articlePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 3000;
    overflow: hidden;
    background: white;
}
.imgContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.imgContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imgContainer > h1 {
    color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
}

.bannierDesktop {
    display: block;
}
.bannierMobile {
    display: none;
}
.provi {
    padding: 100px 10%;
}
@media (max-width: 480px) {
    .bannierDesktop {
        display: none;
    }
    .bannierMobile {
        display: block;
    }
    .imgContainer > h1 {
        font-size: 12vw;
        width: 100%;
        font-weight: 900;
    }
}
