.loginCardSearch {
    flex-grow: 1;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin-right: 30px;
}
.loginCardSearch > li {
    transition: 0.2s;
}
.loginCardSearch > li:hover {
    color: #3e8cbb;
    cursor: pointer;
}
