.basketPage {
    background-color: #ffffff;
}
.header {
    background-color: #2a2c2e;
    min-height: 50px;
    color: white;
    display: flex;
    align-items: center;
}
.header > h3 {
    margin-left: 15px;
    font-size: 1.4rem;
    font-weight: 400;
}
.body {
    background-color: #ffffff;
}
