.nav {
    position: absolute;
    transition: 0.3s;
    top: -200px;
    width: 100%;
    z-index: 99;
    background: white;
}
.navIn {
    display: block;
    top: 60px;
}
.navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.navbar > li {
    width: 50%;
    padding: 10px;
}
.navbar > li > a {
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    padding: 15px 0;
    font-weight: 600;
}
.navbar > li > a:hover {
    border: 1px solid #000000;
}

@media (min-width: 850px) {
    .nav {
        top: 0;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 380px;
        z-index: 101;
    }
    .navbar {
        flex-wrap: nowrap;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .navbar > li {
        width: none;
        padding: 0px;
        height: 100%;
    }
    .navbar > li > a {
        transition: 0.1s border;
        height: 100%;
        border: none;
        font-weight: 500;
        padding: 18px 0;
        border-bottom: 4px solid #30303000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar > li > a:hover {
        border: none;
        border-bottom: 5px solid #303030;
    }
}
